*{text-align: center;
    margin: 100;
    padding: 100;
    box-sizing: right;}
    
    body {background-image: url('imagenes/fondoconlogo.png');background-size: 10%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:below;
        margin: 10;
        padding: 1px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;

    }
    p {
        text-align:left;
        font-size: 70px; 
        margin: 120;
        padding: 120px; 
        color:#0a0d45 ;}

    .form-container {
        background-color: rgb(218, 233, 228);
        padding: 90px;
        margin: 600px;
        margin-top: 10px;
        border-radius: 500px;
       
        text-align: justify;
        font-size: 55px;
        font-family: serif;
        color: #0a0d45;}

     #input1, #input2{
            width: 400px;
            height: 30px; 
            border-radius: 200px;
            font-size: 15px; /* Aumentar tamaño de fuente de los inputs */
           
        }
     
    #enviar {
            width: 200px;
            height: 60px; 
            font-size: 25px;
            border-radius: 200px;
            color: rgb(4, 4, 118);
            font-family:serif;

        }
    


    h1 { text-align: center;
        font-size: 80px;
        margin: 300;
        padding: 300px;
        color: rgb(255,0,255);
        
        display: inline-block;
        animation: girar 2s linear infinite; 
        font-family: "trirong", serif;
        text-shadow: 
        1px 1px 0px black, 
        -1px -1px 0px black, 
        -1px 1px 0px black, 
        1px -1px 0px black;}
        
           
        
    #redirigir{
        font-size: 45px;
        color: #0a0d45;
    }
    
       
    