*{
    margin:0;
    padding:0;
    box-sizing:border-box;}
    
    body {background-image: url('imagenes/fondoconlogo.png');
      
        background-size: cover;
        background-repeat: no-repeat;
        background-position:right;
    }
    embed { width: 400px; height: 400px;   
        top: 10px;
        border-width: 15px;
        border-radius: 50px;
        border-color: rgb(9, 9, 90);
        border-style: groove;
    }
    img {width: 500px; height: 400px; 
        top: 10px;
        border-width: 15px;
        border-radius: 50px;
        border-color: blue;
        border-style: groove;
        }
    h1 {
        text-align: left;
        font-size: 120px;
        padding: 230px; color:rgb(40, 40, 135)
               }
    .Ejecafetero {
        h2{ text-align: left;
            font-size: 45px;
            color:rgb(40, 40, 135)
        }
        text-align: center;
        font-size: 25px;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        p{font-size: 35px;
          
    }}
    .Sanandres {
        h3{ text-align: left;
            font-size: 45px;
            color:rgb(40, 40, 135)
        }
        text-align: center;
        font-size: 25px;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        p{
            font-size: 35px;
        }
    }
    .Amazonas {
        h4{ text-align: left;
            font-size: 45px;
            color:rgb(40, 40, 135)
        }
        text-align: center;
        font-size: 25px;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        p{
            color:white;
            font-size: 35px;
            text-shadow: 
            2px 2px 0px blue,
            -2px -2px 0px black,
            2px -2px 0px blue,
            -2px -2px 0px black,
            2px 0px 0px blue,
            -2px -2px 0px black,
            0px 2px 0px blue,
            0px -2px 0px black;
    }
        }
    
    .Guajira {
        h5{ text-align: left;
            font-size: 45px;
            color:rgb(40, 40, 135)
        }
        text-align: center;
        font-size: 25px;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        p{
            color:white;
            font-size: 35px;
            border-color: blue;
            text-shadow: 
            2px 2px 0px blue,
            -2px -2px 0px black,
            2px -2px 0px blue,
            -2px -2px 0px black,
            2px 0px 0px blue,
            -2px -2px 0px black,
            0px 2px 0px blue,
            0px -2px 0px black;
    }
        }
    button{
       color:blue;
        text-align: center;
        border-width: 15px;
        font-size: 55px;
        border-color:blue;
        border-radius: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        size-adjust: center;
       
       
       
       
    }
    
   